.promo {
  max-width: 1280px;
  min-height: 0;
  /* min-height: 524px; */

  background-image: url(../../images/landing-logo.svg);
  /* background-position: center; */
  background-position: center 82px;
  background-repeat: no-repeat;
  background-size: 320px 320px;

  /* background-size: contain; */
  background-color: #DDDEE3;
}

.promo__title {
  margin: 0 auto;
  padding: 184px 0 224px;

  color: #000;
  text-align: center;
  font-family: Inter;
  font-size: 50px;
  font-weight: 400;
  line-height: 1.16;
  letter-spacing: -2px;
  max-width: 730px;

  /* background-image: url(../../images/landing-logo.svg); */
  /* background-position: center; */
  /* background-repeat: no-repeat; */
  /* background-size: 320px 320px; */
}

@media screen and (max-width: 768px) {
  .promo {
    background-position: center 224px;
  }

  .promo__title {
    padding: 326px 0 342px;
  }
}

@media screen and (max-width: 320px) {
  .promo {
    background-size: 248px 248px;
    background-position: center 142px;
  }

  .promo__title {
    font-size: 31px;
    font-weight: 400;
    line-height: 1.25;
    letter-spacing: -1.24px;

    padding: 207px 0 246px;
  }

}