.app {
  margin: 0 auto;
  background-color: #fafafa;
}

.page {
  display: flex;
  flex-direction: column;
  justify-content: center;

  max-width: 1280px;
  min-height: 100vh;
  height: 100%;

  padding: 0;
  margin: 0 auto;
}

.links-hover:hover {
  transition: 1s ease;
  opacity: .7;
}

.App__containerbtn {
  margin: 10px auto;

  width: 500px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.App__containerbtn_btn {
  padding: 5px 3px;
  margin: 7px;
  width: 200px;
}