.login__link {
  padding: 6px;
  text-decoration: none;
  color: black;
  background-color: rgba(0, 0, 255, .1);
}

.login__link:hover {

  text-decoration: none;
  color: black;
  background-color: cadetblue;
}